<div class='col-sm-4 col-sm-offset-4'>
  <h4 style="text-align:center">Order Summary</h4>

  <div style="text-align:center;color:#3339;"><em>Order ID</em>: {{ order.order_id }}</div>

  <div style="background:#f2dede;padding:5px;">
    <p class="text-center"><strong>{% if order.cart.cartitem_set.count == 1 %}{{ order.cart.cartitem_set.count }} Item {% else %}{{ order.cart.cartitem_set.count }} Items {% endif %}</strong></p>
    <table class='table'>
      {% for cartitem in order.cart.cartitem_set.all %}
      <tr>
        <td class="col-xs-8">{{ cartitem.item.title }} (x{{ cartitem.quantity }})</td><td class="col-xs-4" style="text-align:right">RM {{ cartitem.line_total }}</td>
      </tr>
      {% endfor %}

      <tr><td style="text-align:right">Subtotal: </td><td style="text-align:right">RM {{ order.cart.subtotal }}</td></tr>
      <tr><td style="text-align:right">Delivery Charge: </td><td style="text-align:right">RM {{ order.cart.delivery_fee }}</td></tr>
      <!-- <tr><td style="text-align:right">Items Total: </td><td>RM {{ order.cart.cart_total }}</td></tr> -->
      <tr><td style="text-align:right">Total: </td><td style="text-align:right">RM {{ order.order_total }}</td></tr>
    </table>
  </div>


  <div style="background:#d9edf7;padding:5px;">
    <p class="text-center"><strong>Deliver to</strong></p>
    <table class='table'>
      {% if checkout_view == True %}
        <tr><td class="col-xs-8">{{ order.user }}</td></tr>
        <tr>
          <td class="col-xs-8">{{ order.user_address.address }}</td>
          <td class="col-xs-4" style="text-align:right"><div class="link-style"><a href='{% url "user_address_create" %}'><input type='button' value='Change' /></a></div></td>
        </tr>
      {% else %}
        <tr class="text-center"><td>{{ order.user }}</td></tr>
        <tr class="text-center"><td>{{ order.user_address.address }}</td></tr>
      {% endif %}
    </table>
  </div>
  
  {% if checkout_view == True %}
    <div style="text-align:center; margin-top:20px;">
      <form method='POST' action="{% url 'checkout_final' %}">{% csrf_token %}
        <input type='hidden' name='payment_token' value='ABC' />
        <button type='submit' class='btn btn-warning'>Complete Order</button>
      </form>
    </div>
  {% else %}
    <div style="text-align:center; margin-top:20px;"><strong><em>Please print for your records</em></strong></div>
  {% endif %}


</div>