{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/seller-sale-func.js' %}"></script>
{% endblock %}

{% block content %}
<div class="title-banner">{{ title }}</div>
<div class="container">
  {% if seller_status == "invalid" %}
    {% include "seller/seller_agreement_form.html" %}
  {% elif seller_status == "pending" %}
    <p>Kindly wait for the administrator's approval.</p>
  {% elif seller_status == "valid" %}
    <div class="row">
      <div class="col-md-10">
        {% if sales %}
          <h3>Total Sales: RM {{ total_sales }}</h3>
          <br>
          {% if sales_today %}
            <h4 style="color:#3339;">Today's Sales: RM {{ total_sales_today }}</h4>
            {% include "seller/sales_list_template.html" with sales=sales_today %}
            <br>
          {% endif %}
          <h4 style="color:#3339;">Recent Sales: RM {{ total_sales_recent }}</h4>
          {% include "seller/sales_list_template.html" with sales=sales_recent %}
          <a href="{% url 'seller:sales_list' %}" class="btn btn-default btn-block">View All Sales</a>
          <div style="padding: 20px 0;"></div>
        {% else %}
          <h4 style="text-align:center;padding: 20px 0;">No sales yet.</h4>
        {% endif %}
      </div>

      <div class="col-md-2">
        <h4>My Products<br/><small><a href='{% url "seller:product_create" %}'>Add</a> | <a href='{% url "seller:product_list" %}'>View All</a></small></h4>
        {% for product in products %}
        {% include "products/product_thumbnail.html" with product=product %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

<!-- GENERIC MODAL VIEW -->
<div class="modal fade" id="modal-sale">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}