{% extends "base.html" %}
{% load static %}

{% block style %}
.header-title {
  margin: 10px 0;
  font-size: 1.714em;
}
.mb-product-list-item {
  display:none;
  padding-bottom:20px;
  border-bottom: 1px solid #ccc;
}
.mb-product-title {
  margin-bottom: 10px;
}

.two-col-bar {
  align-items: flex-start;
}
.two-col-bar-left {
  padding: 5px 10px 5px 0;
  flex: 1;
}
.two-col-bar-right {
  padding: 5px 10px;
}


@media screen and (max-width: 700px) {
  #dktp-seller-product-list {
    display:none;
  }
  .mb-product-list-item {
    display:flex;
  }
}
{% endblock %}


{% block javascript %}
<script src="{% static 'js/seller-product-list.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="header-title">{{ seller|title }}'s Inventory</div>

  <!-- ADD BUTTON -->
  <p>
    <button type="button"
            class="btn btn-success js-create-product"
            data-url="{% url 'seller:modal_product_create' %}">
      <span class="glyphicon glyphicon-plus"></span>
      New product
    </button>
  </p>

  <div class="seller-product-list">
    <!-- DESKTOP PRODUCT LIST -->
    <table class="table table-bordered table-hover table-responsive" id="dktp-seller-product-list">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Image</th>
          <th>RM</th>
          <th>Tags</th>
          <th>Date created</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% include 'seller/partial_product_list.html' %}
      </tbody>
    </table>

    <!-- MOBILE PRODUCT LIST -->
    <div id="mb-seller-product-list">
      {% include 'seller/mb_partial_product_list.html' %}
    </div>
  </div>
</div>

<!-- GENERIC MODAL VIEW -->
  <div class="modal fade" id="modal-product">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}