<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Order <strong>#{{ sale.order.first.order_id }}</strong></h4>
</div>
<div class="modal-body">
  <strong class="sale-status-{{ sale.id }}">Status:</strong> {{ sale.status|title }} <br/>
  <strong>Date:</strong> {{ sale.timestamp|date:"d M Y (D) g:i a" }} <br/>
  <strong>Buyer:</strong> {{ sale.order.first.user.get_checkout_user }} <br/>
  <strong>Address:</strong> {{ sale.order.first.user_address.address }} <br/>
  <strong>Amount:</strong> RM {{ sale.compute_sale_total }} <br/>
  <strong>Items:</strong>
  {% for seller_item in sale.get_seller_item_list %}
    {% include "seller/item_detail_template.html" %}
  {% endfor %}
</div>
<div class="modal-footer"">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
