{% extends "base.html" %}

{% block style %}
.gallery-nav-bar {
  text-align: center;
  margin-top: 10px;
}
.gallery-title {
  font-size: 2.143em;
}
.gallery-nav-btn-gp {
  display:flex;
  flex-wrap:wrap;
  justify-content:center
}
.gallery-nav-btn {
  padding: 10px;
  background: #058;
  border: 1px solid #f8f8f8;
}
.gallery-nav-btn a:link, .gallery-nav-btn a:hover, .gallery-nav-btn a:visited, .gallery-nav-btn a:active {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
    .gallery-title {
      font-size: 1.2em;
    }
    .gallery-nav-btn {
      padding: 5px;
      font-size: 0.9em;
    }
}
{% endblock %}


<script>
{% block jquery %}
$(".filter-button").click(function(){
    var value = $(this).attr('data-filter');
    
    if(value == "all") {
      $('.filter').show('3000');
    }
    else {
      $(".filter").not('.'+value).hide('1000');
      $('.filter').filter('.'+value).show('3000');
    }
});
{% endblock %}
</script>


{% block content %}
<div class="container">
  <div class="gallery-nav-bar">
    <div class="gallery-title">Product Gallery</div>
    <div class="gallery-nav-btn-gp">
      <div class="gallery-nav-btn filter-button" data-filter="all"><a href="#">All</a></div>
      {% for category in category_list %}
        <div class="gallery-nav-btn filter-button" data-filter="{{ category.slug }}"><a href="#">{{ category }}</a></div>
      {% endfor %}
    </div>
  </div>

  <div class="tn-set-container">
    {% for category in category_list %}
      {% for product in category.product_set.all %}
        {% include "products/product_thumbnail.html" with product=product %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}