{% extends "base.html" %}

{% block style %}
.gallery-nav-bar {
  text-align: center;
  margin-top: 10px;
}
.gallery-title {
  font-size: 2.143em;
}
.gallery-nav-btn-gp {
  display:flex;
  flex-wrap:wrap;
  justify-content:center
}
.gallery-nav-btn {
  padding: 10px;
  background: #3498db;
  color: #fff;
  border: 1px solid #f8f8f8;
  min-width: 90px;
}
.gallery-nav-btn a:link, .gallery-nav-btn a:hover, .gallery-nav-btn a:visited, .gallery-nav-btn a:active {
  color: #fff;
  text-decoration: none;
}

.gallery-nav-btn:hover {
  background: #2980b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media only screen and (max-width: 576px) {
    .gallery-title {
      font-size: 1.2em;
    }
    .gallery-nav-btn {
      padding: 5px;
      font-size: 0.9em;
    }
}
{% endblock %}


<script>
{% block jquery %}
$(".filter-button").click(function(){
    var value = $(this).attr('data-filter');
    
    if(value == "all") {
      $('.filter').show('3000');
    }
    else {
      $(".filter").not('.'+value).hide('1000');
      $('.filter').filter('.'+value).show('3000');
    }
});
{% endblock %}
</script>


{% block content %}
<div class="container">
  <div class="gallery-nav-bar">
    <div class="gallery-title">Product Gallery</div>
    <div class="gallery-nav-btn-gp">
      <div class="gallery-nav-btn filter-button" data-filter="all"><a href="#">All</a></div>
      {% for category in category_list %}
        <div class="dropdown">
          <div class="gallery-nav-btn filter-button" data-filter="{{ category.slug }}">
            <a href="#">{{ category }}</a>
            {% if category.subcategory_set.all %}
              <i class="fa fa-caret-down"></i>
            {% endif %}
          </div>
          <div class="dropdown-content">
            {% for subcategory in category.subcategory_set.all %}
              <div class="gallery-nav-btn filter-button" data-filter="{{ subcategory.slug }}"><a href="#">{{ subcategory }}</a></div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="tn-set-container">
    {% for category in category_list %}
      {% for product in category.product_set.all %}
        {% include "products/product_thumbnail.html" with product=product %}
      {% endfor %}

      {% for subcategory in category.subcategory_set.all %}
        {% for product in subcategory.product_set.all %}
          {% include "products/product_thumbnail.html" with product=product %}
        {% endfor %}
      {% endfor %}

    {% endfor %}
  </div>
</div>
{% endblock %}