{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block style %}
.addr-info {
  background:#d9edf7;
}

.link-style a:link, .link-style a:hover, .link-style a:visited, .link-style a:active {
  text-decoration: none;
  color: #333;
}

.panel-e7 {
  background:#e7e7e7;
  padding:20px;
  margin:20px 0;
}

{% endblock %}

{% block content %}
<div class="container">
  {% if not user_can_continue %}
    <div class="row">
      <div class="col-sm-6">
        <div class="panel-e7">
          <h2>Login</h2>
          <form method='POST' action="{% url 'auth_login' %}"> {% csrf_token %}
            {{ login_form|crispy }}
            <input type='hidden' name='next' value='{{ next_url }}' />
            <input type='submit' class='btn btn-primary btn-block' value='Login' />
          </form>
          <hr>
          <p class='text-center'>
            <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
          </p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel-e7">
          <h2>Register for free!</h2>
          <form method="POST" action="{% url 'registration_register' %}"> {% csrf_token %}
            {{ registration_form|crispy }}
            <input class='btn btn-block btn-primary' type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
  {% else %}
    {% include "orders/order_summary.html" with order=order checkout_view=True %}
  {% endif %}
</div>
{% endblock %}